 {% extends 'base.html.twig' %}
{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1>Reset your password</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email,{'attr': {'class': 'form-control'}}) }}
        <div>
            <small>
                Enter your email address and we will send you a
                link to reset your password.
            </small>
        </div>

    <div class="form-group d-flex justify-content-end mt-4">
        <button type="submit" class="btn btn-primary submit"> <span class="fa fa-paper-plane"></span></button>
    </div>
    {{ form_end(requestForm) }}
{% endblock %}
