{% extends "baseCertification.html.twig" %}

{% block contenu %}

    <h1> Add a new Difficulty</h1>

    <form action =""  method="post">
        {{ form_widget(formDifficulty) }}
        <input type="submit" value="Add Difficulty" >
    </form>

{% endblock  %}